.App {
    text-align: center;
    background-color: #282c34;
}

.container {
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 5vh;
}

.weekHolderBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.title {
    margin-bottom: 5vh;
}

.bigWeek {
    display: block;
}

.smallWeek {
    background-color: white;
    overflow: hidden;
}